:root {
    --white-width: 50px;
    --green: #58cf62;
}

.tile {
    display: inline-block;
    border-radius: 5px;
    position: relative;
    border-width: 2px;
}

.white {
    border-style: solid;
    border-color: black;
    width: var(--white-width);
    height: calc(var(--white-width)*6);
    margin-right: -35px;
    z-index: 0;
}

.black {
    background-color: black;
    height: calc(var(--white-width)*4);
    width: calc(var(--white-width)/2);
    vertical-align: top;
    right: -18px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    z-index: 1;
}

.white:hover {
    background-color: rgb(228, 228, 228);
}

.black:hover {
    background-color: rgb(59, 58, 58);
}

#container {
    margin-top: calc(var(--white-width)/10);
    /* Actually important */
    width: 300%;
    overflow: scroll;
    overflow: hidden;
    background: white;
}

#accuracy {
    display: inline-block;
}

.next-white {
    margin-right: -5px;
    border-right-width: 0px;
    border-top-right-radius: 0px; 
}

.next-white+div, .end-white, .next {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.end-white {
    border-right-width: 0px;
}

/* .note-to-play {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: fit-content;
    display: inline-block;
    margin: 1px;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
} */

.octave-container {
    display: inline-block;
    margin-right: 30px;
}

/* Make selectionn impossible (to be able to roll on the keys with mouse) */
div {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#challenge {
    font-size: 20px;
}

.new-letter {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    /* Specifying a value centers it. Ehm, no. It was bc 50px==100%*/
    font-weight: bold;
    /* margin-left: 16px;  */
    /* margin-left: auto; */
    /* display: flex;  */
    /* margin-right: auto; */
    margin-bottom: 3px;
    font-size: 20px;
    /* important */
    z-index: -2;
    pointer-events: none;
    /* display: flex; */
    /* height: 150px; */
    /* horizontal-align: center; */
}

.new-letter-black {
    color: white;
    /* margin-left: 5px;  */
}

.play-display {
    background-color: var(--green);
    height: 100px;
    width: 40px;
    border-radius: 5px;
    position: relative;
    margin-top: 5px;
    vertical-align: bottom;
}

#next-notes-container {
    /* height: 420px; */
    margin-top: none;
}

#piano-display {
    position: absolute;
    bottom: 0;
}

/* body {
    background: grey; 
} */